/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$green: #1abc9c;
span.brand-name {
  color: $green;
}

section.page-intro {
  height: 15em;
  padding: 60px 80px 50px 80px;

  .info {
    text-align: center;
  }
}

section.how-it-works {
  background-color: $green;
  color: white;

  div.how-works-tile {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    min-width: 200px;
    min-height: 200px;
  }
}
section.search-area {

  display:block;
  margin: 20px 100px 60px 50px;


  .btn-success {
  @include button-variant(withe, $green, $green);
  padding: 10px 110px 10px 70px;
  }

  .form-group {

    input{
      border-radius: 5px;
      width: 100%;
      height:2.7em;
    }

  }
  .start-search-description {
  padding: 30px 120px 30px 120px;

  margin: auto;
  color: #269898;
  }
}

section.how-it-works {
  font-size: 1.2em;
  padding: 20px 20px 20px 20px;

  .question {
    padding-bottom: 25px;
  }

  .fa-wrench, .fa-check-circle, .fa-search {
    padding: 23px 120px;
    font-size: 43px;
  }
}