@import "bootstrap-sprockets";
@import "bootstrap";
$green: #1abc9c;

.background-img {
  background: url('../uploads/main_page.png');
  background-size: cover;

  }

@media screen and (min-width: 601px) {

  span.brand-name {
    color: $green;
  }

  section.page-intro {
    height: 15em;
    padding: 60px 80px 50px 80px;

    .info {
      text-align: center;
    }
  }

  section.how-it-works {
    background-color: $green;
    color: white;

    div.how-works-title {
      padding: 10px;
      border: 1px solid white;
      border-radius: 10px;
      min-width: 200px;
      min-height: 200px;
      main {
        text-align: center;
        width: 100%;
      }
    }
  }

  section.search-area {


    display:block;
    padding: 20px 100px 60px 50px;


    .btn-success {
    @include button-variant(withe, $green, $green);
    padding: 10px 110px 10px 70px;
    }

    .form-group {

      input{
        border-radius: 5px;
        width: 100%;
        height:2.7em;
      }

    }
    .start-search-description {
    padding: 30px 120px 30px 120px;

    color: $green;
    text-align: center;
    width: 100%;
    }
  }

  section.how-it-works {
    font-size: 1.2em;
    padding: 20px 20px 20px 20px;

    .question {
      padding-bottom: 25px;
    }

    .fa-wrench, .fa-check-circle, .fa-search {
      padding: 30px;
      font-size: 43px;
      text-align: center;
      width: 100%;
    }
    .how-it-works_item {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  span.brand-name {
    color: $green;
  }
  .introduction {
    margin-left: 20px;
  }

  section.page-intro {
    display: inline;
    padding-left : 1px;
      .info {
        width: 100%;

      }
    }

  section.how-it-works {
    font-size: 1.2em;
    padding: 0px;
  }

  section.search-area {
    display:block;
    .search-box {
      padding-top: 15px;
    }
    .btn-success {
      @include button-variant(withe, $green, $green);
      padding: 10px 110px 10px 70px;
    }

    .form-group {
      padding-top: 15px;
      input{
        border-radius: 5px;
        width: 100%;
        height:2.7em;
      }

    }
    .start-search-description {
    padding-left: 20px;
    color: #269898;
    }
  }

  section.how-it-works {
    background-color: $green;
    color: white;
    font-size: 1.2em;
    padding: 20px 20px 20px 20px;

    .question {
      margin-left: 20px;
    }
    div.how-works-title {
      padding: 10px;
      border: 1px solid white;
      border-radius: 10px;
      min-width: 200px;
      min-height: 200px;
      main {
        text-align: center;
        width: 100%;
      }
    }
    .how-it-works_item {
      padding: 30px;
    }
    .fa-wrench, .fa-check-circle, .fa-search {
      text-align: center;
      width: 100%;
      font-size: 43px;
    }
  }
}

// All screen sizes

div.animated-element {
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(-100px,0px,0px);
}

div.animated-element.in-view {
  opacity: 1;
  transform: translate3d(0px,0px,0px);
}