@import "bootstrap-sprockets";
@import "bootstrap";
$green: #1abc9c;

@media screen and (min-width: 601px){
  nav.navbar {

    background-color: $green;
    height: 65px;
    size: 2em;
    color: white;

    .navbar-brand {
      color: white;
      padding: 5px 10px;
      &:hover {
        color: black;
      }
    }

    .navbar-nav{
      height: 40px;
      .dropdown-toggle {
        color: white;
        &:hover {
          color: black;
        }
      }
    }

    .navbar-header span {
      color:black
    }

  }
}

@media screen and (max-width: 600px) {
  nav.navbar {

    background-color: $green;
    height: 65px;
    size: 2em;
    color: white;

    .navbar-brand {
      color: white;
      padding: 5px 10px;
      &:hover {
        color: black;
      }
    }

    .navbar-nav{
      height: 40px;
      .dropdown-toggle {
        color: white;
        &:hover {
          color: black;
        }
      }
    }

    .navbar-header span {
      color:black
    }

  }
}