@import "bootstrap-sprockets";
@import "bootstrap";

$green: #1abc9c;

nav.navbar {
  background-color: $green;
  .navbar-brand {
    margin: 0;
    padding: 5px;
    img {
      max-height: 100%;
    }
    &:hover {
      color: black;
    }
  }
}
