// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.facebook-login {
  border-radius: 3px;
  background-color: #4065b3;
  display: inline-block; 
  color: white;
  padding: 0.4em;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}