@import "bootstrap-sprockets";
@import "bootstrap";
$green: #1abc9c;


@media screen and (min-width: 601px){

  section.tools-index {
    width: 100%;
    h1 {
      font-size: 30px;
    }
    margin-top: -20px;
    padding: 0px;
    position: fixed;

    .left-side {
      position: relative;
      width: 34%;
      overflow-y: scroll;
      background: #d8d8d8;

    }


    .search-result-list {
      height: 100%;
      width:33%;
      padding-bottom: 251px;
      position: fixed;
      display: block;
      overflow-y: scroll;
    }

    .no-padding {
      padding: 0px;
    }

    #map {
      position: inherit;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }

    .map-image {
      border-left: 1px solid gray;
      height: 100%;
      right: 0px;
      background: gr;
      position: fixed;
    }

    .filter-category-and-distance {
      padding-bottom: 15px;
    }

    div.tools {

      overflow-y: scroll;

      .each-item {
        border-bottom: 1px solid gray;
        width: 100%;
      }

      .tool {
        display: block;
        height: 100%;
        margin: 0px;
      }

      .each-item-img {
        height: 100%;
        padding: 40px;
        max-height: 120px;
      }

      .each-item-details {
        height: 100%;
        margin: 0px;
        background: #f1f1f1;
        padding: 10px;
        font-size: 16px;

        h5 {
          font-size: 17px;
          text-align: center;
          margin: 0px;
          padding-bottom: 10px;
        }

        .fa-usd , .fa-location-arrow {
          color: $green;
          font-size: 20px;
          margin-bottom: 12px;
        }

      }
    }


  }

  section.tools-show {
    .page-header h1 {
      margin-left: 20px;
    }
    .tool-detail {
      .row {
        display: flex;
        margin-left: 50px;
        flex-direction: initial;
        width: 60%;
        .form-rating {
          padding-top: 40px;
          font-size: 1.2em;
        }
        .form-comment {
          padding-bottom: 10px;
          font-size: 1.2em;
          .comment_text_area {
            width: 600px;
            height: 60px;
          }
        }
      }
      .image-table{

        border: 1px solid gray;
        border-radius: 2px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .detail-table {
        border-right: 1px solid gray;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  section.new-tool-page {
    padding: 30px;
  }
  .filter_by {
     width: 100%;

    .select2 {
      width: 100% !important;
    }
  }



}

#my-style-on-review-list{
  dt {
    width: 70px;
  }
  dd {
  margin-left: 90px;
  }
}



@media screen and (max-width: 600px) {
  .each-item {
    padding: 20px 10px;
  }
  section.new-tool-page {
    padding: 30px;
  }

  section.tools-show {
    .page-header h1 {
      margin-left: 10px;
    }
    .tool-detail {
      .row {
        flex-direction: column-reverse;
        display: flex;
        margin: 10px 20px;
        width: 90%
      }
      .detail-table {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
      }
      .image-table {

        border: 1px solid gray;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        img {
          width: 100%;
        }

      }
    }
  }
}

.detail-and-add-to-cart-button {
  padding-top: 5px;

  a.add-to-cart {
    background-color: $green;
    color: white;
    padding:8px;
    margin-bottom: 5px;
    border-bottom: 3px solid #4c8060;
    border-radius: 2px;
    width: 120px;
    height: 39px;
    text-align: center;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }
}

.no-padding {
  padding: 0;
}