    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="name-and-logo">
            <a class="navbar-brand" href="/">
              <div class="logo"><%= image_tag 'rentit-logo', size: '50x50' %> Rent-it</div>
            </a>
          </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a>Logged in as <%= current_user.name %></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">My Dashboard</a></li>
                <li><a href="#"><%= link_to 'Logout', logout_path %></a></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Login/Register', login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>